{% extends 'layout.html' %} {% block body %}

<div class="new_container">
  <h4>Edit note</h4>
  <hr />

  <form method="post" action='{{url_for("edit", id=datas.id)}}'>
    <div class="form-group">
      <label>Title</label>
      <input
        type="text"
        name="title"
        required
        class="form-control"
        value="{{ datas.title }}"
      />
    </div>
        <div class="form-group">
      <label>Subject</label>
      <input
        type="text"
        name="subject"
        required
        class="form-control"
        value="{{ datas.subject }}"
      />
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea
        type="text"
        required
        name="content"
        class="form-control"
        id=""
        cols="30"
        rows="3"
      >
{{ datas.content }}</textarea
      >
    </div>

    <div class="form-group">
      <label>Image Link <span>(If you want to add image to your note)</span></label>
      <input type="text" name="imageLink" value="{{ datas.imgLink }}" placeholder="https://repo.com/me.png" class="form-control" />
    </div>
    <div class="form-group">
      <label>Youtube video link <span>(If you want embed youtube video to your note)</span></label>
      <input type="text" name="youtubeLink" value="{{ datas.youtubeLink }}" placeholder="https://www.youtube.com/watch?v=bLjsSYyEZCs" class="form-control" />
    </div>
    <div class="form-group">
      <label>External Link <span>(Ex. https://googledrive.com)</span></label>
      <input type="text" value="{{ datas.extLink }}" name="extLink" placeholder="https://googledrive.com" class="form-control" />
    </div>
    <input type="submit" value="Update" class="btn addBtn" />
  </form>
</div>
{% endblock %}
