{% extends 'layout.html' %} {% block body %}

<div class="header">
  <h5>Blanche - NoteApp</h5>
  <a href='{{url_for("new")}}' class="newNoteBtn">Add Note</a>
</div>

<div class="notes_container">
  {% if datas == [] %}
  <div class="empty">
    No note added, please add one.
  </div>

  {% else %} {% for row in datas %}
  <a href='{{ url_for("view", id=row.id)}}' class="note">
    <div class="title">{{ row.title }}</div>
    <div class="pre">{{ row.content[0:15] }}</div>
    <div class="sub">{{ row.subject }}</div>
  </a>

  {% endfor %} {% endif %}
</div>
{% endblock %}
